@import vars

.bookmark-manager
    .add-bookmark
        &--container
            background-color $dgrid-bg-colo
            border-radius 15px
            margin-top 5px
            padding 2px 20px
