@require vars
.dgrid-buffer
    .field-id
    .field-path
    .field-name
        display none

.dgrid-row-table
    border-collapse collapse
    th
        text-align center
    td
        vertical-align middle
.dgrid-row-odd
    background-color lighten($dgrid-bg-color, 6)
.dgrid-selected
    background $highlight-color
.dgrid-main
    flex auto
    height 100%
    margin -1px
    .field-id
        width 10em
    .field-id
    .field-documentDate
        text-align center
    .field-branch
    .field-documentDate
    .field-title
        width 99%
