@require vars

.field-path
.field-name
        display none
.field-id
.field-documentDate
    text-align center
.field-branch
.field-documentDate
.field-id
    width 10em
.field-title
    width 99%

.dgrid-row-table
    border-collapse collapse
    th
        text-align center
    td
        vertical-align middle
.dgrid-row-odd
    background-color lighten($dgrid-bg-color, 6)
.dgrid
    flex auto
    height 100%
    margin -1px
