@require vars

.map .tooltip
    background-color $white
    border 1px solid $claro-border
    border-radius 4px
    font-size .56em
    opacity 1
    padding 5px
    position absolute
    width 100px
    z-index 9999
