@require vars

.toaster
  bottom 5px
  overflow hidden
  position absolute
  right 5px
  width 400px
  z-index $map-z-index + 2


.toaster-item .alert
  margin 1px
  max-height 8em
  overflow auto
  width 100%
