<div>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <span class="navbar-brand">DAQ Web Framework
          <a data-dojo-attach-point="version" class="version" href="changelog"></a>
        </span>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
      </div>
    </div>
  </nav>
  <div data-dojo-attach-point="infowindow" class="bg-panel stretched below-banner hide">
    <div data-dojo-attach-point="attributepanel" class="panel panel-info full-height">
      <div class="panel-heading">Item Information
        <button type="button" class="close" data-dojo-attach-point="closeWindow" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <ul id="attribute-tabs" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#attributes" aria-controls="attributes" role="tab" data-toggle="tab">Feature Information</a></li>
        <li role="presentation"><a href="#edocs" aria-controls="edocs" role="tab" data-toggle="tab">EDoc Items</a></li>
        <li role="presentation"><a href="#attachments" aria-controls="attachments" role="tab" data-toggle="tab">Attachments</a></li>
      </ul>
      <div class="tab-content stretched scrollable below-tabs">
        <div role="tabpanel" class="tab-pane active" id="attributes">
          <div class="panel-body" data-dojo-attach-point="infocontent"></div>
        </div>
        <div role="tabpanel" class="tab-pane full-height" id="edocs">
          <div data-dojo-attach-point="gridcontent"></div>
        </div>
        <div role="tabpanel" class="tab-pane full-height" id="attachments">
            <div class="panel-body" data-dojo-attach-point="attachmentContent"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="map-div" class="below-banner stretched"></div>
  <div class="toolbar-items see-through">
    <button class="btn btn-primary" id="layers" title="Toggle Visibile Layers" data-dojo-attach-event="click:activateTool"><i class="esri-icon-layer-list"></i></button>
    <button class="btn btn-primary" id="query" title="Select Items with Query" data-dojo-attach-event="click:activateTool"><i class="esri-icon-search"></i></button>
    <button class="btn btn-primary" id="buffer" title="Select Items with Buffer Radius" data-dojo-attach-event="click:activateTool"><i class="esri-icon-radio-checked"></i></button>
    <button class="btn btn-primary" id="trs" title="Zoom to Township Range Section" data-dojo-attach-event="click:activateTool"><i class="esri-icon-checkbox-unchecked"></i></button>
    <button class="btn btn-primary" id="coords" title="Zoom to a Specific Coordinate" data-dojo-attach-event="click:activateTool"><i class="esri-icon-map-pin"></i></button>
    <button class="btn btn-primary" id="bookmark" title="Zoom to Bookmarked Location" data-dojo-attach-event="click:activateTool"><i class="esri-icon-labels"></i></button>
  </div>
  <div class="selected-tool-container panel panel-primary see-through" data-dojo-attach-point="toolbox">
    <button type="button" class="close" data-dojo-attach-point="closeTool" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="panel-heading" data-dojo-attach-point="toolboxheader">Tool container</div>
    <div data-dojo-attach-point="toolboxcontainer"></div>
  </div>
  <div class="toaster">
    <div role="alert" id="toaster-container"></div>
  <div>
</div>
