<div>
  <h4>Save Bookmark</h4>
  <div class="form-group">
    <label for="user-bookmark">User Name</label>
    <input class="form-control" type="text" name="user-bookmark" data-dojo-attach-point="user"/>
  </div>
  <div class="form-group">
    <label for="bookmark">Bookmark Name</label>
    <input class="form-control" type="text" name="bookmark" data-dojo-attach-point="name"/>
  </div>
  <div class="form-group text-center">
    <button class="btn btn-primary" data-dojo-attach-point="button" data-dojo-attach-event="click:activate">Save</button>
  </div>
</div>
