<div>
  <div class="form-group">
    <label for="buffer">Buffer Distance</label>
    <div class="input-group">
      <input class="form-control" type="number" name="buffer" value="5000" data-dojo-attach-point="buffer"/>
      <div class="input-group-addon">meters</div>
    </div>
  </div>
  <div class="form-group text-center">
    <button class="btn btn-primary" data-dojo-attach-point="button" data-dojo-attach-event="click:activate">Activate</button>
  </div>
  <div data-dojo-attach-point="gridcontent"></div>
</div>
