<div>
  <div class="form-group">
    <label for="layer">Layer</label>
    <select name="layer" data-dojo-attach-point="layer" class="form-control">
    </select>
  </div>
  <div class="form-group">
    <label for="query">Query</label>
    <select data-dojo-attach-point="type" name="query" class="form-control">
      <option value="ai">AI Number</option>
      <option value="company">Company Name
      <option>Canned Query 1
    </select>
  </div>
  <div class="form-group">
    <label for="id">Input</label>
    <input class="form-control" data-dojo-attach-point="input" type="text"/>
  </div>
  <div class="form-group text-center">
    <button class="btn btn-primary" data-dojo-attach-event="click:query">Query</button>
  </div>
</div>
