<div>
  <div class="form-group">
    <label for="layer-input">Layer</label>
    <select id="layer-input" class="form-control" data-dojo-attach-event="change:updateQueriesForLayer" data-dojo-attach-point="layer">
    </select>
  </div>
  <div class="form-group">
    <label for="query-input">Query</label>
    <select id="query-input" class="form-control" data-dojo-attach-point="type">
    </select>
  </div>
  <div class="form-group">
    <label for="id-input">Input</label>
    <input id="id-input" type="text" class="form-control" data-dojo-attach-point="input"/>
  </div>
  <div class="form-group">
    <label for="spatial-selector">Spatial Restriction</label>
    <select id="spatial-selector" class="form-control" data-dojo-attach-event="change:_updateUiForSpatialRestriction" data-dojo-attach-point="spatial">
      <option value="">Statewide
      <option value="County">County
      <option value="Shape">Rectangle
    </select>
  <div class="form-group text-center">
    <button class="btn btn-primary" data-dojo-attach-event="click:query">Query</button>
  </div>
</div>
