<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.5" targetFramework="net451" />
  <package id="MediaTypeMap" version="2.1.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net451" />
  <package id="Nancy" version="1.4.4" targetFramework="net451" />
  <package id="Nancy.Hosting.Aspnet" version="1.4.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net451" />
  <package id="Serilog" version="2.7.1" targetFramework="net451" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net451" />
  <package id="Serilog.Sinks.Email" version="2.3.0" targetFramework="net451" />
  <package id="Serilog.Sinks.File" version="3.2.0" targetFramework="net451" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.1.1" targetFramework="net451" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net451" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net451" />
</packages>