<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings file="secrets.production.config" xdt:Transform="SetAttributes(file)">
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer>
    <modules xdt:Transform="Insert">
      <add name="OpenAmModule64" preCondition="bitness64" />
    </modules>
    <OpenAmModule enabled="true" configFile="C:\openam\web_agents\iis_agent\bin\..\instances\agent_2\config\agent.conf" xdt:Transform="Insert"/>
  </system.webServer>
</configuration>