<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings file="secrets.development.config">
  </appSettings>
  <connectionStrings configSource="connection.config">
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <!--10 MB in  kilbytes-->
    <httpRuntime maxRequestLength="10240" executionTimeout="3600" targetFramework="4.5.1" />
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!--10 MB in bytes -->
        <requestLimits maxAllowedContentLength="10485760"/>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
